 /* @font-face { 
    font-family: “chihaya_tyoke”;
    src: font-url("/assets/chihaya_tyoke.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}  */
*{
  box-sizing : border-box;
  font-family: 'Yusei Magic', sans-serif;
}
body{
  display: flex;
  height: 100%;
  min-height: 100vh;
  max-width: 1030px;
  width: 100vw; 
  min-width: 815px;
  background-color: rgb(7, 104, 7);
  /* justify-content: flex-end; */

}

.body-l{
  min-height: 100vh;
  height: 100%;
  width: calc(100vw - 120px); 
  position: relative;
  
}

/* クイズ画面 */
.field{
  position:relative;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  z-index: 70;
}
.question_area{
  width: 95%;
  height: 50vh;
  background-color: white;
  /* box-shadow: 10px 10px rgba(43, 43, 43, 0.8); */
  /* border-radius: 0 30px 0 0 ; */
  margin:0 20px 30px;
  position: relative;
  overflow-y: scroll;
}

.count-down{
  position:absolute;
  background-color: white;
  width: 95%;
  height: 100%;
  font-size:250px;
  text-align: center;
  color:tomato;
}

.ans-image{
  z-index: 200;
  width:80%;
  max-width: 500px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  
  margin:auto;
  
}
.finish-area{
z-index: 90;

/* border: solid 1px black; */
}
.finish-image{
  position: absolute;
  background-color:rgb(7, 104, 7);
  width:100vw;
  height:100%;
  z-index: 100;
}
.finish-keitai-image{
  position: absolute;
  background-color:rgb(7, 104, 7);
  width:100vw;
  height:100%;
  z-index: 100;
}
.finish-text-area{
  display: flex;
  flex-direction: column;
  /* flex-direction: row-reverse; */ 
  /* border: solid 1px black; */
  width:30%;
  height:40%;
  position:absolute;
  z-index: 110;
  top:38%;
  left:44%;
  text-align: center; 
  font-size: 3.3vh;
}
  .finish-text-title{
    font-size: 3.35vh;
    color:green;
  }

  .finish-text-score{
    color:red;
  }

.finish-text{
  color:blue;;
  text-decoration: none;
  cursor:pointer;
}

.finish-text:hover{color:blueviolet}

.finish-text-return{
  text-decoration: none;
}

/* .shadow{
  width:30px;
  height:30px;
  border:none;
  border-radius: 0 30px 0 0;
  background-color: rgb(214, 214, 214);
  position: absolute;
  top:0px;
  right:0px;
} */
.question-header{
  display: flex;
  padding:15px
}
.number{
  font-size: 50px;
  color:black;
  margin:0 15px;
  /* color:aliceblue; */
}
.timer-area{
  display:flex;
  /* flex-direction: column; */
  width: fit-content;
  min-height: fit-content;
  border: solid 1px black;
}

.timer{
  margin-top: auto;
  font-size: 25px;
}

.question{
  font-size: 30px ;
  color:black;
  /* color:aliceblue; */
  justify-content: space-around;
  margin:40px 50px;
}

.answers{
  width: 100%;
  list-style: none;
  margin: 50px 0;
  display:flex;
  /* justify-content:space-between; */
  word-break: keep-all;
}

.answer{
  width: 25vw;
  height: auto;
  /* max-height: 25vh; */
  /* overflow: scroll; */
  padding: 10px;
  background-color: white;
  border:ridge 5px gray;
  margin:20px auto;
  text-align: center;
  font-size: 25px;
}

.footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;


}
.score, .copy_light{
  margin:10px;
  font-size:25px;
  color:aliceblue;
}
/* クイズ画面 */


/* メイン画面 */
.title-image{
  /* background-color: white; */
  width: 100%;
  /* height: 40vh; */
  margin: 10px auto 20px;
}

.user-login{
  display:flex;
  justify-content: center;
  width:100%;
}
.login{
  text-decoration: none;
  color:black;
  width:fit-content;
  font-size: 25px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  margin:0 30px;



}
.category-area{
  width:fit-content;
  height: fit-content;
  margin: 0 auto;
  padding:30px auto;

}
.category{
  color:black;
  
  font-size: 50px;
  width:fit-content;
  padding: 10px;
  background-color: white;
  border:ridge 5px gray;
  margin:20px auto 0;
  text-align: center;
  
}
.category-write{
  text-decoration: none;
  color:black;
}

select{
  border:none;
}

/* メイン画面 */


/* クイズ作成画面 */

.sub-title{
  font-size: 50px;
  color: white;
  margin: 0 15px;
}

.midashi{
  padding-left: 20px;
  font-size: 30px;
  color:white;
}

.genres, .answers-write{
  width:100%;
  display: flex;
  margin: 0 0 35px ;
}
.answers-write{

  margin-top: 5px;
}
.genre{

  text-decoration: none;
  color:black;
  width:fit-content;
  height:fit-content ;
  font-size: 25px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  margin: 0 20px;
  /* text-align: center; */
}

.question-write,.comment {
  width:90%;
  height: 40vh;
  background-color: white;
  border:ridge 5px gray;
  font-size: 30px ;
  color:black;
  margin:0 20px 0;
  overflow-y: scroll;
}


.answers-write{
  
  width: 100%;
  padding-left: 15px;
}

.answer-area{
  width: 33%;
  display: flex;
  margin-right: 5px;
}
.form-answer-write{
  background-color: white;
  font-size: 25px;
  width:calc(100% - 50px);
  border:ridge 5px gray;
  padding: 10px;
}
.answer-write{
  background-color: white;
  font-size: 25px;
  border:ridge 5px gray;
  width:25%;
  margin-left: 5px;
  margin-right:25px;
}

.comment{
  height: 20vh;
}
.submits{
  width:100%;
  display: flex;
  margin: 30px 0 10px;
  justify-content: space-around;
}
.submit{
  text-decoration: none;
  color:black;
  width: 280px;
  font-size: 25px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  text-align: center;
  
}

.maru{
  width:50px;
}

.batu{
  width:50px;
}
/* クイズ作成画面 */


/* コメント一覧 */

.comment-genres{
  width:auto;
  display: flex;
  margin: 30px 30px 5px;
}
.comment-genre{
  color: white;
  width: auto;
  font-size: 25px;
  padding:10px ;
  margin-right:15px;

}

.comment-area{
  background-color: skyblue;
  border:ridge 5px gray;
  margin:20px ;
  padding: 15px;
  width:auto;
  height:40vh;
  overflow-y: scroll;
}
.comment-header{
  font-size: 25px;
  color: gray;
  margin-bottom: 20px;
}

.l-comment-area{
  width: 60%;
  height: fit-content;
  margin-bottom: 30px;
  margin-right: auto;
}

.r-comment-area{
  margin-left: auto;
  width: 60%;
  height: fit-content;
}

.user-name, .another-user-name{
  font-size: 20px;
}

.another-user-name{
  width: fit-content;
  padding-right: 10px;
  margin-left: auto;
}

.user-comment{
  background-color:  white;
  width: 100%;
  border-radius: 30px;
  padding:20px;
  height: auto;
  
}

.comment-edit-area{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment-edit{
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  
}

/* コメント一覧 */


/* ジャンルを作る */

.genre-index-area{
text-align: center;
  background-color: skyblue;
  border:ridge 5px gray;
  margin:30px auto;
  padding: 15px 0px;
  width:50%;
  height:auto;
}

.genre-index-header{
  width:fit-content;
  font-size: 40px;
  margin: 15px auto;
}

.genre-index{
  margin: 15px auto 0;
  width:fit-content;
  color:black;
  font-size: 30px;
  word-break: break-word
}

.edit-area{
display: flex;
justify-content:center;
width: 100%;
height:fit-content;
padding-bottom: 30px;
}
.edit{
  font-size: 40px;
  color:black;
  text-decoration: none;
  margin: 0 30px;
  background-color: white;
  border:ridge 5px gray;
  padding: 0 20px;

}
/* ジャンルを作る */


/* ログイン画面 */

.sign_in_area{
  padding: 0 15px;
  
}

.form-text{
  display: block;
}

.form-field{
  color:white;
  font-size: 30px;
  margin-bottom: 20px;
}

.login-form{
  border:ridge 5px gray;
  width:40%;
  height: 50px;
}

.login-form-l{
  border:ridge 5px gray;
  width:50%;
  height: 50px;
}

.login_submits{
  background-color:white;
  border:ridge 5px gray;
  padding: 3px;
  color:black;
  text-decoration: none;
  font-size: 30px;
}

/* ログイン画面 */


/* エラーメッセージ */
.error_messages_area{
padding:15px;
}

.error_message{
  color:white;
}
/* エラーメッセージ */

/* カレンダー */

.calender-area{
   /* background-color: rgb(7, 104, 7);  */
  /* border:solid 5px black;  */
  width:fit-content; 
  min-height: 100vh;
  height: auto; 
  padding-top: 5vh ;
  margin:0 0 auto 0;
text-align: center;
}

.calender-mark{
  margin-bottom: 20px;
  font-size: 40px;
  color:white;
}
.calender-num{
  margin-bottom: 10px;
  font-size: 40px;
  color:white;
}
.calender-nittyoku{
  margin: 0 auto 20px;
  font-size: 50px;
  width:fit-content;
  height: fit-content;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color:white;
}

/* カレンダー */




/* ヘッダー */
.header-area{
  display: flex;
  width:100%;
  height: 10vh;
  align-items: flex-end;
  padding-left:30px;
}
.header-login{
  display: flex;
  width:50%;
  height:fit-content;
}
.header{
  text-decoration: none;
  color:black;
  padding:5px 5px ;
  background-color: white;
  border:ridge 5px gray;
  font-size: 20px;;
  /* text-align: center; */
  margin-left: 15px;
}
.header-image{

  /* background-color: white; */
  width:80%;
  height: 10vh;
}
/* ヘッダー */


/* ジャンルセレクト */

.genre-area{
  width:100%;
  height:fit-content;
  /* background-color: white; */
}

.select-genre-top{
  width: fit-content;
  margin: 30px 20px 0;
  font-size: 35px;
  color:rgb(240, 133, 231);
}

.select-cell {
  width: fit-content;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: ridge 5px gray;
  margin: 20px;
  background-color: white;
  word-break: keep-all;
}

.no-select-cell{
  padding: 0 10px;
  width: fit-content;
  border:ridge 5px gray;
  font-size: 20px;
  margin: 20px;
  background-color: rgb(177, 177, 177);
  word-break: keep-all
}
.select-cell:hover{
  background-color: lightskyblue;
}


.select-genre{
  text-decoration: none;
  font-size: 20px;
  /* color:white; */
  word-break: keep-all
}

.select-genre-caution{
  font-size: 20px;
  color:rgb(255, 214, 102);
  word-break: keep-all
}
/* ジャンルセレクト */



 /* タブレット端末*/
/* @media (max-width: 1024px){
  .finish-text-area {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    position: absolute;
    z-index: 110;
    top: 45%;
    left: 37%;
    text-align: center;
    font-size: 3.5vw;
}


  .finish-text-title {
    font-size: 3vh;
    color: green;
  }

  .question_area {
    width: 95%;
    height: 35vh;
    background-color: white;
    box-shadow: 10px 10px rgb(43 43 43 / 80%);
    border-radius: 0 30px 0 0;
    margin: 0 20px 30px;
    position: relative;
}



}
 /* タブレット端末*/
 /* 携帯電話端末*/
 @media (max-width: 415px){
  body{
  display: flex;
  height: 100%;
  min-height: 100%;
  max-width: 100%;
  width: 100vw; 
  min-width: 100%;
  background-color: rgb(7, 104, 7);
  /* justify-content: flex-end; */
  }


  .user-login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

  .login {
    text-decoration: none;
    color: black;
    width: fit-content;
    font-size: 25px;
    padding: 5px 10px;
    background-color: white;
    border: ridge 5px gray;
    margin: 5px auto;
}

  .category-area {
    width: 100%;
    height: fit-content;
    
    
}

.category {
  color: black;
  font-size: 40px;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: ridge 5px gray;
  margin: 20px auto 0;
  text-align: center;
}

.genres{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 35px;
}

.genre {
  text-decoration: none;
  color: black;
  width: fit-content;
  height: fit-content;
  font-size: 23px;
  padding: 5px 10px;
  background-color: white;
  border: ridge 5px gray;
  margin: 10px 20px;
  white-space: nowrap;
}
.answers-write{
  display:flex;
  flex-direction: column;
}
.answer-area{
display:block;
}

.answer-write {
  background-color: white;
  font-size: 25px;
  border: ridge 5px gray;
  width: fit-content;
  min-width: 65%;
  margin: 5px;
  overflow: scroll;
}

.submit {
  text-decoration: none;
  color: black;
  width: fit-content;
  font-size: 25px;
  padding: 10px;
  background-color: white;
  border: ridge 5px gray;
  text-align: center;
}

.header-area {
  
  display: flex;
  flex-direction: column;
  width: 100%;
  height:fit-content;
  align-items:flex-start;
  padding-left: 10px;
}

.header-login {
  /* display: flex; */
  width: 100%;
  /* height: fit-content; */
}

.s-header-login{
  width:100%;
}

.header-image {
  width: 100%;
  height: 10vh;
}

.header {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  background-color: white;
  border: ridge 5px gray;
  font-size: 20px;
  /* text-align: center; */
  margin:10px 5px;
}

.sub-title {
  font-size: 42px;
  color: white;
  margin: 0 15px;
  word-break: keep-all;
}

.genre-index-header {
  text-align: center;
  width: fit-content;
  font-size: 40px;
  margin: 15px auto;
  word-break: keep-all;
}

.genre-index-area{
  width:100%;
}

.comment-genres {
  display:flex;
  flex-direction: column;
  width: auto;
  display: flex;
  margin: 30px 10px 5px;
}

.edit-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
}

.edit {
  font-size: 40px;
  color: black;
  text-decoration: none;
  margin: 10px;
  background-color: white;
  border: ridge 5px gray;
  padding: 0 10px;
}

.user-comment {
  background-color: white;
  width: 100%;
  border-radius: 30px;
  padding: 5px 10px;
  height: auto;
}

.comment-edit-area {
  flex-direction: column;
  width: 100%;
  display: flex;
  padding-left: 43px;
  /* justify-content: flex-end; */
}

.genre-index {
  margin: 15px auto 0;
  width: fit-content;
  color: black;
  font-size: 30px;
  word-break: keep-all;
}

.finish-image {
  position: absolute;
  background-color: rgb(7, 104, 7);
  width: 100vw;
  height: 100%;
  z-index: 100;
}

.finish-text-area {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 40%;
  position: absolute;
  z-index: 110;
  top: 38%;
  left: 12%;
  text-align: center;
  font-size: 14px;
  word-break: keep-all;

}

.finish-text-title {
  font-size: 20px;
  color: green;
  word-break: keep-all;
}

.ans-image {
  width: 140%;
  max-width: 500px;
  position: absolute;
  top: 43px;
  left: 0;
  right: 0;
  margin: auto;
}

.question-header {
  display: flex;

  flex-direction: column;
  padding: 15px;
}

.number {
  font-size: 50px;
  color: black;
  margin: 0;
  /* color: aliceblue; */
}

.question {
  font-size: 30px;
  color: black;
  /* color: aliceblue; */
  justify-content: space-around;
  margin: 0 10px;
  overflow-y: scroll;
  overflow-wrap:break-word;
  word-break:keep-all;
}

.answers {
  width: 100%;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* word-break: keep-all; */
}

.answer {
  width: 50vw;
  padding: 10px;
  background-color: white;
  border: ridge 5px gray;
  margin: 5px 20px;
}

.select-cell {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: ridge 5px gray;
  margin: 10px;
  background-color: white;
  word-break: keep-all;
}

.no-select-cell{
  padding: 0 10px;
  width: 100%;
  margin: 0;
  border:ridge 5px gray;
  margin: 10px;
  background-color: rgb(177, 177, 177);
  word-break: keep-all
}

.select-genre-caution {
  font-size: 18px;
  color: rgb(255, 214, 102);
  word-break: keep-all;
}

.form-answer-write {
  background-color: white;
  font-size: 25px;
  width: 100%;
  border: ridge 5px gray;
  padding: 10px;
}
.answer-area{
  width:100%;
}

.question-write, .comment {
  width: 100%;
  height: 40vh;
  background-color: white;
  border: ridge 5px gray;
  font-size: 30px;
  color: black;
  margin: 0 20px 0;
  overflow-y: scroll;
}


}
 /*携帯電話端末 */