 /* @font-face { 
    font-family: “chihaya_tyoke”;
    src: font-url("/assets/chihaya_tyoke.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}  */
*{
  box-sizing : border-box;
  font-family: 'Yusei Magic', sans-serif;
}

body{
  width:100%;
  height: 100%;
  display: flex;
    justify-content: center;
    background-color: rgb(7, 104, 99);
    
    /* background-color: rgb(236, 208, 171); */
  /* background-color: rgb(190, 126, 42); */
}
.m_body{
  position: relative;
  display: flex;
  height: 100%;
  min-height: 100vh;
  min-width: 700px; 
  border: ridge 10px rgb(255, 255, 255);

  background-color: rgb(7, 104, 7);

}

.body-l{
  position:absolute;
  left:0px;
  min-height: 100vh;
  height: 100%;
  width: 580px; 
  position: relative;
  
}

/* クイズ画面 */
.field{
  position:relative;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  z-index: 70;
}

.question_area{
  width: 95%;
  height: 50vh;
  background-color: white;
  margin:0 20px 30px;
  position: relative;
  /* overflow-y: scroll; */
}

.count-down{
  position:absolute;
  background-color: white;
  width: 95%;
  height: 100%;
  font-size:250px;
  text-align: center;
  color:tomato;
}

.ans-image{
  z-index: 200;
  width:80%;
  max-width: 500px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
}

.finish-area{
z-index: 90;
}

.finish-image{
  position: absolute;
  background-color:rgb(7, 104, 7);
  width:117%;
  height:100%;
  z-index: 100;
}

.finish-keitai-image{
  position: absolute;
  background-color:rgb(7, 104, 7);
  width:100vw;
  height:100%;
  z-index: 100;
}

.finish-text-area{
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 41%;
  position: absolute;
  z-index: 110;
  top: 37%;
  left: 44%;
  text-align: center; 
  font-size: 23px;
  overflow-y: scroll;
}

.finish-text-title{
  font-size: 3.35vh;
  color:green;
}

.finish-text-score{
  color:red;
  font-size:30px;
}

.finish-text{
  color:blue;;
  text-decoration: none;
  cursor:pointer;
}

.finish-text:hover{color:blueviolet}

.finish-text-return{
    text-decoration: none;
    border: ridge 3px gray;
    width: fit-content;
    margin: 0 auto;
    padding: 0 5px;
    background-color: #ffff8a;
}

.question-header{
  height: 105px;
  display: flex;
  padding:15px
}

.genre-name{
  margin:auto 15px;
  font-size: 25px;
  color: slateblue;
}

.number{
  font-size: 55px;
  color:black;
  margin: 0;
}

.timer-area{
  display:flex;
  width: fit-content;
  min-height: fit-content;
  border: solid 1px black;
}

.timer{
  margin-top: auto;
  font-size: 35px;
  color:blue;
}

.question{
  font-size: 30px ;
  color:black;
  height:240px;
  justify-content: space-around;
  margin:0 50px 40px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.answers{
  width: 100%;
  list-style: none;
  margin: 50px 0;
  display:flex;
  word-break: keep-all;
}

.answer{
  width: 190px;
  height: fit-content;
  padding: 10px;
  background-color: white;
  border:ridge 5px gray;
  margin:0px 5px;
  text-align: center;
  font-size: 25px;
  overflow-wrap: break-word;
}
.answer:hover{
  background-color:rgba(255,200,0,0.8);
}

.footer{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;


}
.score, .copy_light{
  margin:10px;
  font-size:25px;
  color:aliceblue;
}
/* クイズ画面 */


/* メイン画面 */
.title-image{
  width: 580px;
  margin: 10px auto 20px;
}

.create_true{
  background-color: rgb(248, 239, 74);
  position: absolute;
  top:100px;
  left:55px;
  border:ridge 20px #00ffe3;
  border-radius: 10%;
  width:500px;
}

.user-login{
  display:flex;
  justify-content: center;
  width:100%;
}

.login{
  text-decoration: none;
  color:black;
  width:fit-content;
  font-size: 24px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  margin:0 30px;
}

ul,li{
  list-style: none;
}

.category-area{
  width:fit-content;
  height: fit-content;
  margin: 0 auto;
  padding:30px auto;
  
}

.category{
  cursor: pointer;
  color:black;
  text-decoration: none;
  font-size: 50px;
  padding: 10px;
  background-color: white;
  border:ridge 5px gray;
  margin:20px auto 0;
  text-align: center;
}

.category-list{
  position: absolute;
  left:260px;
  background-color: #fdff81;
  font-size: 25px;
  padding: 0 15px;
  border:ridge 5px gray;
  margin-left:auto;
  margin-top: 0;
}

.category-write-s:hover{
  color:blueviolet;
}
.category-write{
  color:black;
  text-decoration: none;
}
.category-write-s{
  text-decoration: none;
  color:blue;
}

.hidden{
  display:none;
}

/* メイン画面 */


/* クイズ作成画面 */

.sub-title{
  font-size: 50px;
  color: white;
  margin: 0 15px;
}

.midashi{
  padding-left: 20px;
  font-size: 30px;
  color:white;
}

.genres, .answers-write{
  width:100%;
  display: flex;
  margin: 0 0 35px ;
}

.answers-write{
  margin-top: 5px;
}

.genre{
  text-decoration: none;
  color:black;
  width:fit-content;
  font-size: 23px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  margin: 0 20px;
}

.question-write,.comment {
  width:90%;
  height: 40vh;
  background-color: white;
  border:ridge 5px gray;
  font-size: 30px ;
  color:black;
  margin:0 20px 0;
  overflow-y: scroll;
}

.answers-write{
  display:flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
}

.answer-area{
  display: flex;
  margin-right: 5px;
}

.form-answer-write{
  background-color: white;
  font-size: 25px;
  width: 335px;
  border: ridge 5px gray;
  padding: 10px;
  margin-bottom: 10px;
}

.answer-write{
  background-color: white;
  font-size: 25px;
  border:ridge 5px gray;
  width:68%;
  margin-left: 5px;
  margin-right:25px;
  margin-bottom: 10px;
  word-break: break-all;
}

.comment{
  height: 20vh;
}

.submits{
  width:100%;
  display: flex;
  margin: 30px 15px 10px;
  justify-content: center;
}

.submit{
  text-decoration: none;
  color:black;
  width: 200px;
  font-size: 25px;
  padding:10px ;
  background-color: white;
  border:ridge 5px gray;
  text-align: center;
  margin-right: 10px;
}

.attent{
  color:white;
  font-size: 15px;
  align-items: flex-end;
  display: flex;
}

.maru{
  width:50px;
}

.batu{
  width:50px;
}

/* クイズ作成画面 */


/* コメント一覧 */

.comment-genres{
  width:auto;
  margin: 30px 30px 5px;
}

.comment-genre{
  color: white;
  width: auto;
  font-size: 25px;
  margin-right:15px;
}

.comment-area{
  background-color: skyblue;
  border:ridge 5px gray;
  margin-left:20px ;
  padding: 15px;
  height:40vh;
  overflow-y: scroll;
}

.comment-header{
  font-size: 25px;
  color: black;
  margin-bottom: 20px;
}

.l-comment-area{
  width: 60%;
  height: fit-content;
  margin-bottom: 30px;
  margin-right: auto;
}

.r-comment-area{
  margin-left: auto;
  width: 60%;
  height: fit-content;
  margin-bottom:30px;
}

.user-name, .another-user-name{
  font-size: 20px;
}

.another-user-name{
  width: fit-content;
  padding-right: 10px;
  margin-left: auto;
}

.user-comment{
  background-color:  white;
  width: 100%;
  border-radius: 30px;
  padding:20px;
  height: auto;
}

.current-user-comment{
  background-color:  rgb(67, 233, 94);
  width: 100%;
  border-radius: 30px;
  padding:20px;
  height: auto;
}

.comment-edit-area{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment-edit{
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
}

/* コメント一覧 */


/* ジャンルを作る */

  /* 画面サイズで画像を変える*/
  img.keitai_break_time{display:none;}

  @media(min-width:416px){
    img.keitai_break_time{display:none;}
    img.break_time{display:block;}
  }
  @media(max-width:415px){
    img.break_time{display:none;}
    img.keitai_break_time{display:block;}
  }
  /* 画面サイズで画像を変える*/

 .break_time{
  border: outset 15px  #ffff8a;
  border-radius: 5%;
  position:absolute;
  top:150px;
  left:30px;
}

.keitai_break_time{
  border: outset 15px rgb(190, 126, 42);
  border-radius: 5%;
  position:absolute;
  top:150px;
}

.genre-index-area{
  margin:0 auto;
  width:100%;
  height:auto;
  display:flex;
  flex-wrap: wrap;
}

.genre-index-header{
  color:white;
  width:fit-content;
  font-size: 40px;
  margin: 15px auto 0;
}

.genres-index {
  background-color: white;
  border: ridge 5px gray;
  margin-top: 15px;
  margin-left: 15px;
  width: calc((100% - 60px)/2);
}

.genre-index{
  margin: 0 auto;
  width:fit-content;
  color:black;
  font-size: 25px;
  word-break: break-word;
  text-decoration: none;
}

.quiz-title{
  font-size: 30px;
  text-decoration: none;
}

.edit-area{
display: flex;
justify-content:center;
width: 100%;
height:fit-content;
padding-bottom: 30px;
}

.edit{
  font-size: 40px;
  color:black;
  text-decoration: none;
  margin: 0 30px;
  background-color: white;
  border:ridge 5px gray;
  padding: 0 20px;
}

/* ジャンルを作る */


/* ログイン画面 */

.sign_in_area{
  padding: 0 15px;
}

.form-text{
  display: block;
}

.form-field{
  color:white;
  font-size: 30px;
  margin-bottom: 20px;
}

.login-form{
  border:ridge 5px gray;
  width:50%;
  height: 50px;
  font-size: 30px;
}

.login-form-l{
  border:ridge 5px gray;
  width:50%;
  height: 50px;
}

.login_submits{
  background-color:white;
  border:ridge 5px gray;
  padding: 3px;
  color:black;
  text-decoration: none;
  font-size: 30px;
}

/* ログイン画面 */


/* エラーメッセージ */
.error_messages_area{
  padding:15px;
}

.error_message{
  color:white;
}
/* エラーメッセージ */


/* カレンダー */

.calender-area{
  position:absolute;
  right:0px;
  width:120px; 
  max-height: 100vh;
  height: auto; 
  padding-top: 20px ;
  margin:0 0 auto 0;
  text-align: center;
}

.calender-mark{
  margin-bottom: 20px;
  font-size: 40px;
  color:white;
}

.calender-num{
  margin-bottom: 10px;
  font-size: 40px;
  color:white;
}

.calender-nittyoku{
  margin: 0 auto 20px;
  font-size: 50px;
  width:fit-content;
  height: fit-content;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color:white;
}

/* カレンダー */


/* ヘッダー */

.header-area{
  display: flex;
  width:100%;
  height: 10vh;
  align-items: flex-end;
  padding-left:30px;
}

.header-login{
  display: flex;
  width:50%;
  height:fit-content;
}

.header{
  text-decoration: none;
  color:black;
  padding:5px 5px ;
  background-color: white;
  border:ridge 5px gray;
  font-size: 20px;;
}

.header-image{

  width:100%;
  height: 10vh;
}

/* ヘッダー */


/* ジャンルセレクト */

.genre-area{
  width:100%;
  height:fit-content;
}

.select-genre-top{
  width: fit-content;
  margin: 30px 20px 0;
  font-size: 35px;
  color:rgb(240, 133, 231);
}

.select-cell {
  width: fit-content;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: ridge 5px gray;
  margin: 20px;
  background-color: white;
}

.no-select-cell{
  padding: 0 10px;
  width: fit-content;
  border:ridge 5px gray;
  font-size: 20px;
  margin: 20px;
  background-color: rgb(177, 177, 177);
}

.select-cell:hover{
  background-color: lightskyblue;
}

.select-genre-name{
  font-size: 30px;
}
.select-genre{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 20px;
}

.select-genre-caution{
  font-size: 20px;
  color:rgb(255, 214, 102);
  word-break: keep-all
}

/* ジャンルセレクト */



 
 /* 携帯電話端末*/
 @media (max-width: 415px){
  body{
    position: relative;
    display: flex;
    min-height: 100%;
    width: 415px; 
    background-color: rgb(7, 104, 7);
  }

  .m_body{
    border:none;
  }

  .user-login {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .login {
    text-decoration: none;
    color: black;
    width: fit-content;
    font-size: 22px;
    padding: 5px 10px;
    background-color: white;
    border: ridge 5px gray;
    margin: 5px auto;
  }

  .category-area {
    width: 100%;
    height: fit-content;
  }

  .category {
    color: black;
    font-size: 40px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: ridge 5px gray;
    margin: 20px auto 0;
    text-align: center;
  }

  .genres{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 35px;
  }

  .genre {
    text-decoration: none;
    color: black;
    width: 100%;
    height: fit-content;
    font-size: 23px;
    padding: 5px 10px;
    background-color: white;
    border: ridge 5px gray;
    margin: 10px 20px;
    white-space: nowrap;
  }

  .attent{
    font-size: 11px;
  }

  .answers-write{
    display:flex;
    flex-direction: column;
    margin:0 10px;
    padding: 0;
  }

  .answer-area{
  display:block;
  }

  .answer-write {
    background-color: white;
    font-size: 25px;
    border: ridge 5px gray;
    width: 80%;
    margin: 5px 0;
    overflow: hidden;
  }

  .submit {
    text-decoration: none;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    padding: 10px;
    background-color: white;
    border: ridge 5px gray;
    text-align: center;
    margin-left: 10px;

  }

  .header-area {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
    align-items:flex-start;
    padding-left: 10px;
  }

  .header-login {
    width: 100%;
  }

  .s-header-login{
    width:100%;
  }

  .header-image {
    width: 100%;
    height: 10vh;
  }

  .header {
    text-decoration: none;
    color: black;
    padding: 5px 5px;
    background-color: white;
    border: ridge 5px gray;
    font-size: 20px;
    margin:10px 5px;
  }

  .sub-title {
    font-size: 42px;
    color: white;
    margin: 0 15px;
    word-break: keep-all;
  }

  .genre-index-header {
    text-align: center;
    width: fit-content;
    font-size: 40px;
    margin: 15px auto;
    word-break: keep-all;
  }

  .genre-index-area{
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .genres-index {
    background-color: white;
    border: ridge 5px gray;
    margin-top: 15px;
    margin-left: 15px;
    width: 95%;
}

  .comment-genres {
    display:flex;
    flex-direction: column;
    width: auto;
    display: flex;
    margin: 30px 10px 5px;
  }

  .edit-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
  }

  .edit {
    font-size: 40px;
    color: black;
    text-decoration: none;
    margin: 10px;
    background-color: white;
    border: ridge 5px gray;
    padding: 0 10px;
  }

  .user-comment {
    background-color: white;
    width: 100%;
    border-radius: 30px;
    padding: 5px 10px;
    height: auto;
  }
  
  .current-user-comment {
    background-color:rgb(67, 233, 94);
    width: 100%;
    border-radius: 30px;
    padding: 5px 10px;
    height: auto;
  }

  .comment-edit-area {
    flex-direction: column;
    width: 100%;
    display: flex;
    padding-left: 43px;
  }

  .genre-index {
    margin: 0 5px;
    width: fit-content;
    color: black;
    font-size: 30px;
  }

  .finish-image {
    position: absolute;
    background-color: rgb(7, 104, 7);
    width: 100vw;
    height: 100%;
    z-index: 100;
  }

  .finish-text-area {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 40%;
    position: absolute;
    z-index: 110;
    top: 32%;
    left: 6%;
    text-align: center;
    font-size: 21px;
    word-break: keep-all;
  }



  .finish-text-title {
    font-size: 20px;
    color: green;
    word-break: keep-all;
  }

  .ans-image {
    width: 135%;
    max-width: 500px;
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .question-header {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .number {
    font-size: 50px;
    color: black;
    margin: 0;
  }

  .question {
    font-size: 30px;
    height:195px;
    color: black;
    justify-content: space-around;
    margin: 0 10px;
    overflow-y: scroll;
    overflow-wrap:break-word;
    word-break:keep-all;
  }

  .answers {
    width: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .answer {
    width: 210px;
    padding: 10px;
    background-color: white;
    border: ridge 5px gray;
    margin: 5px 20px;
  }

  .select-cell {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: ridge 5px gray;
    margin: 10px;
    background-color: white;
    white-space: normal;
  }

  .no-select-cell{
    padding: 0 10px;
    width: 100%;
    margin: 0;
    border:ridge 5px gray;
    margin: 10px;
    background-color: rgb(177, 177, 177);
    word-break: keep-all;
    white-space: normal;
  }

  .select-genre-caution {
    font-size: 18px;
    color: rgb(255, 214, 102);
    word-break: keep-all;
  }

  .form-answer-write {
    background-color: white;
    font-size: 20px;
    width: 100%;
    border: ridge 5px gray;
    padding: 10px;
  }
  .answer-area{
    width:100%;
  }

  .question-write, .comment {
    width: 90%;
    height: 40vh;
    background-color: white;
    border: ridge 5px gray;
    font-size: 30px;
    color: black;
    margin: 0 10px;
    overflow-y: scroll;
  }

  .comment-area{
    width:90%;
    margin:0 10px;
  }


  .calender-area {
    position:absolute;
    right:0px;  
    width: fit-content;
    min-height: 100vh;
    height: auto;
    padding-top: 20px;
    margin: 0 ;
    text-align: center;
  }

  .calender-num , .calender-mark{
    margin-bottom: 10px;
    font-size: 35px;
    color: white;
  } 

  .calender-nittyoku {
    margin: 0 auto 20px;
    font-size: 50px;
    width: fit-content;
    height: fit-content;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
  }
  .title-image {
    width: 294px;
    height:240px;
  }

  .login-form {
    border: ridge 5px gray;
    width: 100%;
    height: 50px;
    font-size: 30px;
  }

  .create_true{
    top:100px;
    left:30px;
    width:300px;
  }

  .m_body{
    min-width: 415px
  }

  .body-l{
    width: 310px
  }

  .l-comment-area, .r-comment-area {
    margin-bottom: 10px;
  }

  .category-list{
    font-size:22px;
    width: 60%;
    left: 124px;
  }
  
  .select-genre-name{
    font-size:29px;
  }

  .genre-name{
    margin:10px 0;
  }
}
 /*携帯電話端末 */